<form method="POST" action="/postroute">
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <input type="submit" value="Submit">
</form>