
<h1>GET REQUEST TO /human/david</h1>
<form method="get" action="/human/david">
    Joke Type:<input type="text" name="joketype" value="nerdy">
    Name Type:<input type="text" name="nametype" value="humanname">
    <input type="submit" value="Submit">
</form>

<h1>POST REQUEST TO /class/1</h1>
<form method="post" action="/class/1">
    Joke Type:<input type="text" name="name" value="nerdy">
    <input type="submit" value="Submit">
</form>

<%= @enviormental_var %>