<form method="POST" action="/user/login">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button type="submit" style="width:50px;height:50px;background-color:light-blue;">
</form>