<% @attendees.each do |atten| %>
    First Name : <h1><%= atten.first_name %></h1>
    Last Name: <h1><%= atten.last_name %></h1>
    Age: <h1><%= atten.age %></h1>
    Likes Beer: <h1><%= atten.likes_beer %></h1>
<% end %>