<form method="POST" action="/attendees/new">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="text" name="age" placeholder="age">

  <!-- Later you will replace this with a dropdown -->
  <input type="text" name="likes_beer" placeholder="Likes Beer?" >

  <button type="submit" style="width:100px;height:100px">
</form>