<% @allcoursestudents.each do |student| %>
    <h1><%= student.name %></h1>
    <h1><%= student.age %></h1>
<% end %>

    <h1><%= @allinstructors.name %></h1>


<% @alltas.each do |ta| %>
    <h1><%= ta.name %></h1>
<% end %>