

//This belongs to our main containers
$main-container-color: #a67c00;
$top-section-color: #bf9b30;
$middle-section-color: #ffbf00;
$bottom-section-color: #ffcf40; 
$main-footer-color: #ffdc73;


//nav-colors
$lav-nav: #7289da;
$white-nav: #ffffff;
$greyish-nav: #99aab5;
$charcoal-nav: #2c2f33;
$blackish-nav: #23272a;
$num: 0;